// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal*/

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
} 

.inDeptCheck {
  width: 650px; // Change this according to the width you want.
  height: 200px; // Change this as well
  margin: 0 auto 0 auto;
  text-align: center; // Will center the images contained in the div
}

.editRestriction {

}

.viewHome {
  width: 800px; // Change this according to the width you want.
  height: 210px; // Change this as well
  margin: 0 auto 0 auto;
  text-align: center;
}

.viewSchedule {
  width: 400px; // Change this according to the width you want.
  height: 420px; // Change this as well
  margin: 0 auto 0 auto;
  text-align: center;
}

.buttonLayoutGenerateHome {
	width: 400px; // Change this according to the width you want.
	height: 100px; // Change this as well
	margin: 0 auto 0 auto;
	.generateScheduleButton_1 {

		float: left;
		padding-left: 0px;
		width: 150px;
	}

	.generateScheduleButton_2 {

		float: right;
		padding-left: 0px;
		width: 150px;
	}
}

.buttonLayoutUserHome {
  width: 600px; // Change this according to the width you want.
  height: 100px; // Change this as well
  margin: 0 auto 0 auto;
  .userHome1 {
    float: left;
	width: 190px;
	padding-left: 28px;
  }
  .userHome2 {
    float: left;
	width: 200px;
  }
  .userHome3 {
    float: left;
	width: 210	x;
	padding-left: 10px;
  }
}

.buttonLayoutPool {
  width: 1000px; // Change this according to the width you want.
  height: 75px; // Change this as well
  margin: 0 auto 0 auto;
  padding-top: 10px;
  .userPool1 {
    float: left;
	width: 100px;

  }
  .userPool2 {
    float: left;
	width: 200px;
  }
  .userPool3 {
    float: left;
	width: 200	x;
	padding-left: 10px;
  }
}

.buttonLayoutjobPool {
  width: 1000px; // Change this according to the width you want.
  height: 75px; // Change this as well
  margin: 0 auto 0 auto;
  padding-top: 10px;
  .userjobPool1 {
    float: left;
	width: 100px;

  }
  .userjobPool2 {
    float: left;
	width: 200px;
  }
  .userjobPool3 {
    float: left;
	width: 200	x;
	padding-left: 10px;
  }
}

.buttonLayoutUserHome {
  width: 600px; // Change this according to the width you want.
  height: 100px; // Change this as well
  margin: 0 auto 0 auto;
  .userHome4 {
    float: left;
	width: 190px;
	padding-left: 28px;
  }
  .userHome5 {
    float: left;
	width: 200px;
  }
  .userHome6 {
    float: left;
	width: 210	x;
	padding-left: 10px;
  }
}

.centImg {
  float: left;
  padding-right: 30px;
}

.centImg2 {
  float: right;
  padding-left: 30px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1, h2 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
 

.navbar {
    .navbar-inner {
        background-color: #2c2c2c;
        background-image: none;
        padding: 5px;
    }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.navbar .nav>li>a {
  font-size: 1.2;
  float: none;
  color: #fff;
  text-decoration: none;

}

.navbar .nav>li>a:hover {
  color: #fff;
  text-decoration: none;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #585858;
  color: $grayLight;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* 
  Event Calendar stylesheet
  
  Colors:
  #d5d5d5 - border (gray)
  #303030 - day names bg (gray)
  #444 - number (gray)
  #ecede2 - day header bg (light tan)
  ##d7d7ba - today header bg (tan)
  #ffffdd - today bg light (yellow)
  #777 - other month number (gray)
  #efefef - other month day header (gray)
  #2eac6a - hover (green)
*/

/* Outer most container */
.ec-calendar {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #d5d5d5;
}

/* Month name header & links */
.ec-calendar-header {
  padding: 5px 0;
  width: 100%;
  table-layout: fixed;
}

.ec-month-name {
  font-size: 16px;
  font-weight: bold;
}

.ec-month-nav {

}

/* Containers */
.ec-body {
  position: relative;
  border-right: 1px solid #303030;
  white-space: nowrap;
}

/* Day names */
.ec-day-names {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  table-layout: fixed;
  padding: 2px 0;
  background: #303030;
  color: white;
}

.ec-day-name {
  font-weight: normal;
}

/* Rows container and Row */
.ec-rows {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: white;
  overflow: hidden;
  border-right: 1px solid #d5d5d5;
}

.ec-row {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

/* Background */
.ec-row-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  table-layout: fixed;
}

.ec-day-bg {
  border-left: 1px solid #d5d5d5;
}

.ec-today-bg {
  background-color: #ffffdd;
}

.ec-row-table {
  position: relative;
  width: 100%;
  table-layout: fixed;
}

/* Day header */
.ec-day-header {
  color: #444;
  text-align: right;
  padding: 0 5px;
  line-height: 16px;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px dotted #bbbbbb;
  background-color: #ecede2;
  overflow: hidden;
}

a.ec-day-link {
  color: #444;
}

.ec-today-header {
  background-color: #d7d7ba;
}

.ec-weekend-day-header {
  
}

.ec-other-month-header {
  background-color: #efefef;
  color: #777;
}

.ec-other-month-bg {
  
}


/* Event cell and container */
.ec-event-cell {
  cursor: pointer;
  vertical-align: top;
  padding-right: 1px;
  padding-left: 2px;
}

.ec-event-cell a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.ec-no-event-cell {
  cursor: default;
}

.ec-event {
  color: white;
  padding-right: 1px;
  padding-left: 11px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  overflow: hidden;
  white-space: nowrap;
}

.ec-event :hover {
  /* doesn't look as good as js highlighting */
  /* background-color: #2eac6a; */
}

.ec-event-bg a {
  color: white;
}

/* used to distinguish non-all_day events */
.ec-event-no-bg {
  position: relative;
  /* padding-left: 5px; */
}

.ec-event-no-bg a {
  /* isn't implemented in all browsers */
  color: inherit;
}

.ec-event-time {
  font-size: 85%;
  font-weight: bold;
  padding-right: 3px;
}


/* Left and right arrows */
/* Doesn't work in IE6, use bg images instead */
.ec-left-arrow, .ec-right-arrow {
  position: relative;
  top: 3px;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  margin-bottom: -8px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.ec-left-arrow {
  margin-left: -7px;
  margin-right: auto;
  border-right: 4px solid white;
}

.ec-right-arrow {
  margin-left: auto;
  margin-right: 3px;
  border-left: 4px solid white;
}

/* remove this to not have a bullet */
/* don't look as good in ie */
.ec-bullet {
  position: absolute;
  top: 7px;
  width: 4px;
  height: 4px;
  margin-left: -7px;
  margin-right: auto;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
}