<div class="center hero-unit">
	<h2>Welcome to Schedule Planner</h2>
	<h3>
		This is the home page for the final year project Schedule Planner application.
	</h3>
	
	<%= link_to "Sign Up Now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>




