<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->

<% provide(:title, "Calendar") %>

<h1>Schedule Calendar</h1>

<% timeCheck %>
<% Event.destroy_all %>

<% @jsonString_Test = session[:json] %>
<% getScheduleRecords @jsonString_Test %>
 
<% @month = (params[:month] || (Time.zone || Time).now.month).to_i %>
<% @year = (params[:year] || (Time.zone || Time).now.year).to_i %>
<% @shown_month = Date.civil(@year, @month) %>
	
<% @event_strips = Event.event_strips_for_month(@shown_month) %>

<%= raw(event_calendar) %>
